.empty-shopping-cart {
    display: flex;
    font-weight: 600px;
    font-size: 20px;
    color: white;
    justify-content: center;
}

.headers {
    display: flex;
    flex-direction: column;
}

.cart-headers{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #97A97C;
    font-weight: 600;
    align-items: center;

}
.cart-headers .name {
    margin: 10px;
    margin-right: 40px;
}
.cart-row {
    display: flex;
    color: black;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #CFE1B9;
    flex-direction: column;
}

.product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    border-bottom: 1px solid white;
    width: 100%;
}
.cart-product-name {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipt {
    display: flex;
    flex-direction: column;
    background: #CFE1B9;
    border-radius: 4px;
    width: 90%;
    justify-content: center;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}

.receipt .subtotal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.receipt .tax {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.receipt .total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}