.product-card {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: solid 1px #e4e4e4;
    background-color: #CFE1B9;
    border-radius: 5%;
}

.product-card .product-info {
    padding: 10px;
}
.media img{
    padding: 10px;
    width: 240px;
    height: 240px;
    border-radius: 15px;
}

.product-card .media {
    display: flex;
    border-bottom: 1px solid;
    justify-content: center;
}

.product-card .product-info{
    display: flex;
}
.product-card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80px;
}

.product-card .card-buttons {
    width: 80px;
    height: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.product-card .card-buttons button {
    background-color:#97A97C;
    color: black;
    border-radius: 7%;
    font-size: 17px;
}
.product-card .quantity-display {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.product-card .quantity-box {
    background: #97A97C;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.product-card .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.hide-description {
    display: none;
}

.show-description {
    display: flex;
    padding-bottom: 10px;
    padding-left: 10px;
}
